* {
    box-sizing: border-box;
    margin :1
}

div {
    display: 'inline-block';
    border: 1.5px solid rgb(9, 12, 12);
    height: 100px;
    text-align: center;
    float: left
}

.col1{width: 8.33% ;background-color: beige; }
.col2{width: 16.66%;  background-color: blueviolet;}
.col3{width: 25%;background-color: tomato;}
.col4{width: 33.33%;background-color: blue;}
.col5{width: 41.66%;background-color: rgb(201, 45, 45);}
.col6{width: 50%;}
.col7{width: 58.33%;background-color: yellow;}
.col8{width: 66.66%; background-color: yellowgreen;}
.col9{width: 75%;background-color: aquamarine;}
.col10{width: 83.33%;background-color: aqua;}
.col11{width: 91.66%;background-color:antiquewhite}
.col12{width: 100%;}

/* Custom CSS */

  